# Runtime repo (required)
RUNTIME_REPO_URL=https://github.com/Hearmeman24/remote-comfy-gen-handler.git
RUNTIME_REPO_REF=main
GITHUB_PAT=ghp_...

# S3 storage (required for media handling)
AWS_ACCESS_KEY_ID=AK...
AWS_SECRET_ACCESS_KEY=...
S3_REGION=eu-west-2
S3_BUCKET=my-comfy-bucket
